{
  "presets": [
    ["env", {
      "targets": {
        "node": "0.10.16"
      },
      "loose": true,
      "shippedProposals": true
    }]
  ],
  "env": {
    "presets": [
      ["env", {
        "targets": {
          "node": "current"
        }
      }]
    ]
  }
}
