{
  "presets": [
    ["env", {
      "targets": {
        "node": "0.10.16"
      }
    }]
  ],
  "env": {
    "presets": [
      ["env", {
        "targets": {
          "node": "current"
        }
      }]
    ]
  }
}
