{
  "env": {
    "node": "true"
  },
  "extends": ["airbnb-base", "prettier"],
  "parser": "babel-eslint",
  "rules": {
    "import/prefer-default-export": "off",
    "import/no-cycle": "off",
    "no-plusplus": "off",
    "func-names": "off",
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ]
  }
}
