{
  "env": {
    "node": "true"
  },
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "import/prefer-default-export": "off",
    "no-plusplus": "off",
    "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never",
    }],
  }
}
