{
  "env": {
    "node": true
  },
  "extends": ["airbnb-base", "prettier"],
  "parser": "babel-eslint",
  "plugins": ["jest", "simple-import-sort"],
  "rules": {
    "import/prefer-default-export": "off",
    "import/no-cycle": "off",
    "no-plusplus": "off",
    "func-names": "off",
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  },
  "overrides": [
    {
      "files": [
        "test/**/*.js",
        "testSetupAfterEnv.js",
        "testSetupBabel.js",
        "testSetupIntegration.js",
        "testSetupJestLegacy.js",
        "testSetupRedis.js"
      ],
      "env": {
        "jest/globals": true
      }
    },
    {
      "files": ["test/integration/**/*.js"],
      "rules": {
        "import/no-relative-parent-imports": ["error"]
      }
    }
  ]
}
