version: 2
jobs:
  build:
    docker:
      - image: circleci/node:carbon
        # To support coverage reports from forks
        environment:
          CODECLIMATE_REPO_TOKEN: 688d3234f9bb133fe6efa4dfe74f7a7510f2d9c1dca419875de8257a5f02da45
          COVERALLS_REPO_TOKEN: uXjaiJ9eS9qZ22QdYHeiqwrsQi9aOWJbz

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "yarn.lock" }}
          - v1-dependencies-

      - run: yarn install

      - run: yarn lint

      - run: sudo npm install -g npx

      # ioredis supports version 0.10.16 and later
      - run: npx -p node-bin@0.10.16 -p npm@1 -- npm run test

      # yarn itself only supports v4 and later
      - run: npx -p node-bin@0.11 -p npm@2 -- npm test

      - run: npx -p node-bin@0.12 -p npm@3 -- npm test

      # @TODO submit fix to iojs-bin to make this command possible
      # - run: npx -p iojs-bin  -p npm@3 -- npm test

      - run: npx -p node-bin@4 -- yarn test

      - run: npx -p node-bin@5 -- yarn test

      - run: npx -p node-bin@6 -- yarn test

      - run: npx -p node-bin@7 -- yarn test

      - run: npx -p node-bin@8 -- yarn test

      - run: yarn test

      # Running the testing suite with coverage enabled doubles as
      # npx -p node-bin@latest -- yarn test
      - run: yarn coverage

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}

      - run: yarn semantic-release || true
