name: update compat

on:
  push:
    branches-ignore:
      - master

jobs:
  format:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: use node.js 12
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - run: yarn install
    - run: node scripts/update-compat
    - name: commit changes
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        git commit -m "docs: update feature compat table"
      continue-on-error: true
    - name: push changes
      uses: ad-m/github-push-action@master
      with:
        branch: ${{ github.ref }}
        github_token: ${{ secrets.GITHUB_TOKEN }}
